
.blank p{
  height: 50px;
}

.card img{
  display: none;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.card .card-body{
  margin:0;
  padding:0;
  height: 350px;
}
.card .card-img-top{
  position: absolute;
  opacity:0; 
}

.text-white{
  text-decoration: none;
}
