*{
  box-sizing: border-box;
}
#container{
  width: 800px;
  margin: 0 auto;
}
nav{
  background-color: darkblue;
  height: 100px;
  border-bottom: 3px solid aqua;
}
nav h1{
  float: left;
  color: white;
  margin-left: 20px;
  line-height: 50px;
}
nav ul{
  float: right;
  list-style: none;
  display: flex;
}
nav li{
  font-weight: bold;
  margin-right: 20px;
  line-height: 55px;
}
nav a{
  text-decoration: none;
  color: white;
}

section{
  float: left;
  width: 599px;
  height: 600px;
  padding-left: 20px;
  border-left: 2px solid aqua;
}
section h3{
  margin-top: 50px;
}
section ul{
  list-style: square;
  line-height: 50px;
}
section ol{
  list-style: upper-roman;
  line-height: 50px;
  margin-bottom: 50px;
}

aside{
  float: right;
  width: 199px;
  border-right: 2px solid aqua;
}
aside img{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 500px;
  width: 197px;
  display: block;
}

footer{
  clear: both;
  background-color: darkblue;
  color: white;
  height: 100px;
  text-align: center;
  line-height: 56px;
  border-top: 3px solid aqua;
}