h1{
  color: red;
  text-shadow: 1px 1px black;
}

.shadow2{
  color: black;
  text-shadow: 5px 5px 3px #ffa500;
}

.shadow3{
  color: white;
  text-shadow: 7px -7px 20px black;
}

.spa1{
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
}

.book{
  /* list-style-type: square; */
  list-style-image: url(./img/img04.png);
}